@model IEnumerable<DcssePortal.Model.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecretCode)
        </th>
        <th>
            Contents
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecretCode)
            </td>
            <td>
                @Html.ActionLink("Contents", "Details", "Contents", new { id = item.ID }, null)
            </td>
            <td>

                @if (User.IsInRole("Faculty"))
                {
                    Html.ActionLink("Edit", "Edit", new { id = item.ID });
                    <span> | </span>
                }
                @Html.ActionLink("Details", "Details", new { id = item.ID })
                @if (User.IsInRole("Faculty"))
                {
                    <span>|</span>
                    Html.ActionLink("Delete", "Delete", new { id = item.ID });
                }
            </td>
        </tr>
    }

</table>
