@model IEnumerable<DcssePortal.Model.Complaints>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container-fluid mt-4" style="color: #566787; background: #f5f5f5; font-family: 'Varela Round', sans-serif; font-size: 15px;">

    <h2 class="pt-3">
        <b>Complaints</b>
    </h2>
    <a href="@Url.Action("Create New", "Create")" class="btn btn-success float-right mb-2">
        <i class="fas fa-plus-circle"></i>
        <span>
            <strong>Add New Complaint</strong>
        </span>
    </a>


    <table class="table table-bordered table-striped table-hover table-responsive-lg">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th>
                @Html.Label("Actions")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detail)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @if (Helper.CurrentUserRole == eUserRoles.Admin)
                    {
                        Html.ActionLink("Details", "Details", new { id = item.ID });

                    }
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
                <td>
                    <a href="@Url.Action("Create", "Complaints",new { id=item.ID} )" class=" " style="font-size:20px; color:lightseagreen; display:inline-block; margin-right:15px;" data-toggle="tooltip" title="Edit">
                        <i class="fas fa-pencil-alt"></i>
                        @*<span>
                                <strong>Edit</strong>
                            </span>*@
                    </a>
                    <a href="@Url.Action("Delete", "Complaints",new { id=item.ID} )" class=" " style="font-size:20px; color:red; display:inline-block; margin-right:15px;" data-toggle="tooltip" title="Delete">
                        <i class="fas fa-trash-alt"></i>
                        @*<span>
                                <strong>Delete</strong>
                            </span>*@
                    </a>
                    <a href="@Url.Action("Details", "Complaints",new { id=item.ID} )" class=" " style="font-size:20px; color:orange; display:inline-block; margin-right:15px;" data-toggle="tooltip" title="Detail">
                        <i class="fas fa-book"></i>
                        @*<span>
                                <strong>Detail</strong>
                            </span>*@
                    </a>
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>*@
            </tr>
        }

    </table>
</div>















@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detail)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @if (Helper.CurrentUserRole == eUserRoles.Admin)
                    {
                        Html.ActionLink("Details", "Details", new { id = item.ID });

                    }
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>*@
